flows (2).json
[{"id":"7f47d71a.72e468","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"33bb9f5e.56f4","type":"ui_form","z":"7f47d71a.72e468","name":"","label":"","group":"fd4571e9.9ef19","order":1,"width":0,"height":0,"options":[{"label":"Enter your Query:","value":"query","type":"text","required":true,"rows":null}],"formValue":{"query":""},"payload":"","submit":"Ask","cancel":"Cancel","topic":"","x":70,"y":280,"wires":[["4483a02e.c33f5"]]},{"id":"4483a02e.c33f5","type":"function","z":"7f47d71a.72e468","name":"","func":"msg.payload=msg.payload.query;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":220,"wires":[["38444dec.19a182","7c098130.600fb"]]},{"id":"896f79fd.258a88","type":"function","z":"7f47d71a.72e468","name":"","func":"if(msg.payload.output.error){\n    msg.payload=\"Can you please rephrase\";\n    return msg;\n}\n\nmsg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":220,"wires":[["5545c9c9.8804b8","58404081.218fb"]]},{"id":"38444dec.19a182","type":"ui_text","z":"7f47d71a.72e468","group":"fd4571e9.9ef19","order":2,"width":0,"height":0,"name":"","label":"Customer:","format":"{{msg.payload}}","layout":"col-center","x":330,"y":480,"wires":[]},{"id":"5545c9c9.8804b8","type":"ui_text","z":"7f47d71a.72e468","group":"fd4571e9.9ef19","order":3,"width":12,"height":4,"name":"","label":"BOT:","format":"{{msg.payload}}","layout":"col-center","x":630,"y":480,"wires":[]},{"id":"bea231a7.8863f","type":"debug","z":"7f47d71a.72e468","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":60,"wires":[]},{"id":"7c098130.600fb","type":"watson-conversation-v1","z":"7f47d71a.72e468","name":"Customer Care","workspaceid":"bd4c4977-7264-44d9-9ac8-ace64b2dfcbe","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/1fec55e5-0411-4550-a7e1-b871f16d8c26","timeout":"","optout-learning":false,"x":360.00000381469727,"y":135.00000190734863,"wires":[["bea231a7.8863f","896f79fd.258a88"]]},{"id":"58404081.218fb","type":"ui_audio","z":"7f47d71a.72e468","name":"","group":"fd4571e9.9ef19","voice":"en-US","always":"","x":858,"y":172,"wires":[],"l":false},{"id":"fd4571e9.9ef19","type":"ui_group","z":"","name":"CHATBOT","tab":"603bf7c5.11e418","order":1,"disp":true,"width":"12","collapse":false},{"id":"603bf7c5.11e418","type":"ui_tab","z":"","name":"Customer Care Helpdesk","icon":"dashboard","disabled":false,"hidden":false}]